extends layout

block content
  section.project
    a(href="./" class="back") 👈 back
    header
      h1= h1
      p= desc
    main
      if largethumb && deets
        section.jumbo
          div.img-container.full
            img(src=largethumb)
          div.detail.no-border!= deets
      if largethumbnofull && deets
        section.jumbo
          div.img-container
            img(src=largethumbnofull)
          div.detail.no-border!= deets
      if videothumb && deets
        section.jumbo
          div.video-wrapper
            != videothumb
          div.detail.no-border!= deets
      article
        if concept
          h3 Concept
          != concept
        if content
          != content
    footer
      ul.social
        li
          a(href="http://twitter.com/rarar") Twitter
          span
          |
          |/
          |
        li
          a(href="http://instagram.com/rarar") Instagram
          span
          |
          |/
          |
        li
          a(href="http://linkedin.com/in/rarar") LinkedIn
      ul.personal
        li
          a(href="/docs/rarar-cv-web.pdf") CV
          span
          |
          |/
          |
        li
          a(href="mailto:me@rarar.com") Email
      p Handcrafted with love using Node.js, Express & Pug © 2020 Raphael Arar
